/* ------ CSS RESET ------ */
/* Full CSS Reset (https://piccalil.li/blog/a-more-modern-css-reset/) by Andy Bell */

/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, p {
  margin-block-end: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Balance text wrapping on headings */
h1, h2 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* ------ CUSTOM PROPERTIES ------ */
:root {
  /* Typography */
  --ff-body: 'Poppins', sans-serif;

  --fs-bodyH1: clamp(1.5rem, 1.29rem + 1.07vi, 2.25rem); /* 24 to 36 */
  --fs-bodyTxt: .9375rem; /* 15 */
  --fs-cardHeading: 1.25rem; /* 20 */
  --fs-cardTxt: .8125rem; /* 13 */
  --fs-attribution: clamp(0.75rem, 0.7rem + 0.27vi, 0.94rem); /* 12 to 15*/

  --fw-bodyH1: 200; /* extraLight */
  --fw-bodyH1accent: 600; /* semiBold */
  --fw-bodyTxt: 400; /* regular */
  --fw-cardHeading: 600; /* semiBold */
  --fw-cardTxt: 400; /* regular */

  --ls-bodyH1Mobile: .010625rem; /* 0.17 */
  --ls-bodyH1Desk: .015625rem; /* 0.25 */
  --ls-bodyTxt: .00625rem; /* 0.1 */
  --ls-cardTxt: .005625rem; /* 0.09 */

  --lh-bodyTxt: 1.7; /* 25 */
  --lh-heading: 1.5; /* auto */
  --lh-cardTxt: 1.77; /* 23 */

  /* Layout */
  --clr-bodyBG: hsl(0, 0%, 98%);
  --clr-bodyH1: hsl(234, 12%, 34%);
  --clr-bodyTxt: hsl(229, 6%, 66%);
  --clr-cardBG: hsl(0, 0%, 100%);
  --clr-cardHeading: hsl(234, 12%, 34%);
  --clr-cardTxt: hsl(234, 12%, 34%);
  --clr-borderOne: hsl(0, 78%, 62%);
  --clr-borderTwo: hsl(180, 62%, 55%);
  --clr-borderThree: hsl(34, 97%, 64%);
  --clr-borderFour: hsl(212, 86%, 64%);
  --clr-shadow: hsla(213, 47%, 67%, 50%);

  /* Spacing */
  --gap-cardWrapper: clamp(1.5rem, 1.3929rem + 0.5357vw, 1.875rem);

}

body {
  background: var(--clr-bodyBG);
  color: var(--clr-bodyTxt);
  font-family: var(--ff-body);
  font-size: var(--fs-bodyTxt);
  font-weight: var(--fw-bodyTxt);
  line-height: var(--lh-bodyTxt);
  letter-spacing: var(--ls-bodyTxt);
  margin-inline: 2rem;
  margin-block: 0;
}

.hero {
  container: hero / inline-size;
}

.hero__heading-wrapper {
  text-align: center;
  max-width: 55ch;
  margin-block-start: 5.3125rem;
  margin-inline: auto;
}

.hero__heading {
  color: var(--clr-bodyH1);
  font-size: var(--fs-bodyH1);
  font-weight: var(--fw-bodyH1);
  line-height: var(--lh-heading);
  letter-spacing: var(--ls-bodyH1Mobile);
  margin: 0;
}

.hero__heading--accent {
  font-weight: var(--fw-bodyH1accent);
}

.hero__desc {
  margin-block-start: 1rem;
}

.service-card-wrapper {
  display: grid;
  gap: var(--gap-cardWrapper);
  place-items: center;
  max-width: 69.375rem;
  margin-block: 4.75rem 4.875rem;
  margin-inline: auto;
}

.service-card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--clr-cardBG);
  max-width: 21.875rem;
  padding: 1.86em;
  border-radius: .5rem;
  box-shadow: 0 .9375rem 1.875rem -.6875rem var(--clr-shadow);
}

.service-card__heading {
  color: var(--clr-cardHeading);
  font-size: var(--fs-cardHeading);
  font-weight: var(--fw-cardHeading);
  line-height: var(--lh-heading);
  margin: 0;
}

.service-card__desc {
  font-size: var(--fs-cardTxt);
  letter-spacing: var(--ls-cardTxt);
  margin-block: .25rem 2.0625rem;
}

.service-card__icon {
  margin-inline-start: auto;
}


.attribution {
  font-size: var(--fs-attribution);
  text-align: center;
}

.attribution a {
  color: #222;
  font-weight: 600;
  text-decoration: .125rem underline var(--clr-bodyTxt);
  text-underline-offset: .125rem;
}

@container hero (width > 37.5em) {
  .service-card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@container hero (width > 56.25em) {
  .hero__heading-wrapper {
    margin-block-start: 5rem;
  }

  .service-card-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    ". t ."
    "l t r"
    "l b r"
    ". b .";
    margin-block: 4rem 5rem;
  }

  .service-card {
    padding: 2.13em;
  }

  .service-card--supervisor {
    grid-area: l;
  }

  .service-card--team-builder {
    grid-area: t;
  }

  .service-card--karma {
    grid-area: b;
  }

  .service-card--calculator {
    grid-area: r;
  }
}

/* ------ UTILITY ------ */
.br-top {
  --_br: var(--br, black);
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: var(--_br);
}

.br-top--supervisor {
  --br: var(--clr-borderTwo)
}

.br-top--team-builder {
  --br: var(--clr-borderOne);
}

.br-top--karma {
  --br: var(--clr-borderThree);
}

.br-top--calculator {
  --br: var(--clr-borderFour);
}